@font-face {
    font-family: 'SansRegular';
    src: url('./assets/fonts/Sans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SansBold';
    src: url('./assets/fonts/Sans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'SansExtraBold';
    src: url('./assets/fonts/Sans-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'SansExtraLight';
    src: url('./assets/fonts/Sans-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'SansLight';
    src: url('./assets/fonts/Sans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'SansMedium';
    src: url('./assets/fonts/Sans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'SansSemiBold';
    src: url('./assets/fonts/Sans-SemiBold.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;
